* {
    margin: 0px;
    padding: 0px;
}

#demo {
    /* display: block;
            */
    position: relative;
}

#canvas {
    display: block;
    background: rgb(238, 232, 232);
    margin: 50px auto 0;
}

#demo::after {
    content: '';
    display: block;
    width: 1px;
    height: 400px;
    background: red;
    position: absolute;
    top: 0;
    left: 50%;
}

#demo::before {
    content: '';
    display: block;
    width: 400px;
    height: 1px;
    background: red;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* transform: translate(0, -50%); */
}
